.myclass{
  height:50px;
  width:600px;
  display:flex;
  
}

#A{
  height:50px;
  width:40px;
  background-color:yellow;
  margin-top:20px;
  margin-left:1px;
  background-image:url("https://www.shutterstock.com/image-vector/waving-hand-hi-emoji-cartoon-260nw-2635951981.jpg ");
  background-repeat:no-repeat;
  background-size:cover;
}

.x{
  height:50px;
  width:500px;
  display: flex;
}

#B{
  height:50px;
  width:50px;
  background-color:white;
  margin-left:20px;
  margin-right:10px;
  background-image:url(" https://img.freepik.com/free-vector/realistic-lit-light-bulb-isolated_1284-41774.jpg?semt=ais_hybrid&w=740&q=80");
  background-repeat:no-repeat;
  background-size:cover;
}
#h1{
  height:180px;
  width:600px;
  border-color:rgb(15,25,10);
  border-style:solid;
  border-width:2px;
  align-items:center;
  padding-left:20px;
  border-radius:20px;
  margin-left:10px;
}
.p{
  height:50px;
  width:600px;
  display:flex ;
  

}
#p1{
  height:40px;
  width:50px;
  margin-right:10px;
  margin-left:10px;
  background-image:url(" https://img.freepik.com/premium-vector/office-red-color-board-pin-icon-sign-flat-style-design-paper-pin-vector-illustration_503038-480.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  margin-top:15px;
}

#h2{
  height:180px;
  width:600px;
  border-color:rgb(15,25,10);
  border-style:solid;
  border-width:2px;
  align-items:center;
  padding-left:20px;
  border-radius:20px;
  margin-top:20px;
  margin-left:10px;
}
.pp{
  height:50px;
  width:600px;
  display:flex ;
}
#p2{
   height:40px;
  width:50px;
  margin-right:10px;
  margin-left:10px;
  background-image:url(" https://img.freepik.com/premium-vector/office-red-color-board-pin-icon-sign-flat-style-design-paper-pin-vector-illustration_503038-480.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  margin-top:15px;
}
#h3{
  height:180px;
  width:600px;
  border-color:rgb(15,25,10);
  border-style:solid;
  border-width:2px;
  align-items:center;
  padding-left:20px;
  border-radius:20px;
  margin-top:20px;
  margin-left:10px;
}
.ppp{
  height:50px;
  width:600px;
  display:flex ;
}
#p3{
  height:40px;
  width:50px;
  margin-right:10px;
  margin-left:10px;
  background-image:url(" https://img.freepik.com/premium-vector/office-red-color-board-pin-icon-sign-flat-style-design-paper-pin-vector-illustration_503038-480.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  margin-top:15px;
  
}
#k{
  font-size: 20px;
  font-weight:bolder;
  
}

#o{
  font-size: 20px;
  font-weight:bolder;
  
}
#m{
  font-size: 20px;
  font-weight:bolder;
}
#b2{
  text-decoration:underline;
}






